.header {
    background-color: rgb(20, 114, 78);
    height: 100px;
    width: 1265px;
}
.header-logo {
    font-size: 50px;
    padding: 14px 40px;
    color:rgb(255, 255, 255)
}
h1 {
    font-size: 50px;
    padding: 40px 250px;
    color:rgb(252, 167, 40)
}
h2 {
    font-size: 20px;
    padding: 0px 171px;
}
.contents {
    height: 200px;
    margin: 50px 238px;
}
.contents-item {
    float :left;
    padding : 0px 30px;
}
.contents-item p {
    font-size: 35px;
}
.selected1 {
    color: red;
}
.selected2 {
    color: blue;
}
.selected3 {
    color: green;
}
.selected4 {
    color: brown;
}
img {
    width: 110px;
    height: 75px;
}
.selected6 {
    width: 100px;
    height: 100px;
}
.footer {
    background-color: rgba(44, 196, 163, 0.884);
    height: 50px;
    width: 1260px;
}
h6 {
    font-size: 15px;
    padding: 15px 0px 0px 500px;
}