.header {
  background-color: rgb(20, 114, 78);
  height: 100px;
  width: 1265px;
}
.header a {
  float : right;
  font-size: 25px;
  padding-right: 20px;
  padding-top: 60px;
  color: white;
}
.header-logo {
  float : left;
  font-size: 50px;
  padding: 14px 40px;
  color: white;
}
body {
    font-family: "Avenir Next";
}
.main {
    background-color: #bdf7f1;         
}  
.footer {
  background-color: rgba(44, 196, 163, 0.884);
  height: 50px;
  width: 1260px;
}
h5 {
  font-size: 15px;
  padding: 15px 0px 0px 500px
}
  
